@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

/* change all padding-left/right to 120px at publish */

body {
    font-family: 'Sono', sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: aliceblue;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    max-height: 80px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid red;
}

.logo {
    max-width: 100%;
    max-height: 60px;
    border: 1px solid orange;
}

.empty {
    flex: 5;
    border: 1px dotted greenyellow;
}

.link-container {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid yellow;
}

.header-link {
    font-size: 10pt;
    border: 1px solid aqua;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    color: #F9FAF8;
    border: 2px dashed blueviolet;
}

.hero-left {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-right: 75px;
    border: 1px solid salmon;
}

.hero-h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-right {
   flex: auto;
   border: 1px solid gold;
}

.hero-img {
    max-width: 100%;
    max-height: 500px;
}

.hero-button {
    border-radius: 10px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 125px;
}