@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

/* change all padding-left/right to 120px at publish */

body {
    font-family: 'Sono', Helvetica, sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: aliceblue;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    max-height: 80px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid red;
}

.logo {
    max-width: 100%;
    max-height: 60px;
    border: 1px solid orange;
}

.empty {
    flex: 5;
    border: 1px dotted greenyellow;
}

.link-container {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid yellow;
}

.header-link {
    font-size: 10pt;
    border: 1px solid aqua;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    color: #F9FAF8;
    border: 2px dashed blueviolet;
}

.hero-left {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-right: 75px;
    border: 1px solid salmon;
}

.hero-h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-right {
   flex: auto;
   justify-content: center;
   align-items: center;
   border: 1px solid gold;
}

.hero-img {
    min-height: 300px;
    min-width: 300px;
    max-width: 100%;
    max-height: 500px;
    animation: hero-rotate 5s infinite;
}

@keyframes hero-rotate {
    50% {transform: rotate(180deg);}
}

.hero-button {
    border-radius: 10px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Sono', Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 125px;
    transition: 200ms;
}

.hero-button:hover {
    background-color: #5a96f7;
    color: whitesmoke;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.content-h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    padding: 40px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}

.content-card {
    flex: auto;
    max-width: 200px;
    padding: 20px;
    text-align: center;
}

.card-image {
    max-width: 100px;
    max-height: 100px;
}

.quote-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 40px 60px 40px;
}

.quote-text {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 20px;
}

.quote-author {
    align-self: flex-end;
}

.cta-container {
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 60px 100px 60px 100px;
    padding: 50px 40px 50px 90px;
    background-color: #3882f6;
}

.cta-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
}

.cta-h1 {
    color: whitesmoke;
    padding-bottom: 30px;
    font-size: 24px;
}

.cta-text {
    color: whitesmoke;
}

.cta-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.cta-button {
    border-radius: 10px;
    border: 3px solid whitesmoke;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Sono', Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 125px;
    transition: 200ms;
}

.cta-button:hover {
    background-color: whitesmoke;
    border: 3px solid #3882f6;
    color: #3882f6;
}

.footer {
    background-color: #1f2937;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 40px 20px 40px 20px;
}